<div class="card-deck ">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>The Kite Runner</mat-card-title>
          <mat-card-subtitle>by Khaled Hosseini</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/kiterunner.jpg" alt="Kite Runner">
        <hr>
        <mat-card-content>
          <p>
            The unforgetable story of the unlikely friendship between a wealthy boy and the son of his father’s servant.
            A beautifully crafted novel set in a country that is in the process of being destroyed. 
            It is about the power of reading, the price of betrayal, and the possibility of redemption;
         
             <br>
            A sweeping story of family, love, and friendship told against the devastating 
            backdrop of the history of Afghanistan over the last thirty years.
            The Kite Runner is an unusual and powerful novel that has become a beloved, one-of-a-kind classic.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>4.8/5</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    <br><br><br>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>The Monk who sold his Ferrari</mat-card-title>
          <mat-card-subtitle>by Robin Sharma</mat-card-subtitle>
        </mat-card-header>
        <img class="card-img-top" src="../../assets/Monk who sold his Ferrari.jpg"  alt="Monk who sold his ferrari">
        <hr>
        <mat-card-content>
          <p>
            The Monk Who Sold His Ferrari: A Fable About Fulfilling Your Dreams and Reaching Your Destiny by motivational speaker and author Robin Sharma
             is an inspiring tale that provides a step-by-step approach to living with greater courage, balance, abundance and joy.
              The Monk Who Sold His Ferrari tells the extraordinary story of Julian Mantle, a lawyer forced to confront the spiritual crisis of his out-of-balance life, and the subsequent wisdom that 
            he gains on a life-changing odyssey that enables him to create a life of passion, purpose and peace.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>4.9/5</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
  </div>

  