.example-card {
   max-width: 300px;
   padding: auto;
   margin: 5rem;
  }
  .example-header-image {
   
   background-size:20px !important;
    background-color:yellow !important;
  }

  .mat-card-content{
  padding:5px !important;
  background-color: mediumpurple;
}
.mat-card-header{
    background-color:green !important;
    padding:5px !important;
  }
  