<div class="container">
  <div class="logo">Forgot Password</div>
        <br><br>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                    <span class="hidden">Email</span>
                    <div class="input-container">
                    <i class="fa fa-envelope icon fa-2x"></i>
                    <input type="email" formControlName="email" class="form-control"
                    placeholder="Email ID"  title="Should be valid email of the form abcd@gmail.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    </div>
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email"  style="color: azure">Email must be a valid email address of the form abc@gmail.com</div>
                    </div>
                </div>
                
                
               
        
                    <button type="submit" class="button" >Send Email</button>
        
                    
        
                 
                
            </form>
        </div>