.content {
    margin-top: 2%;
    padding: 16px;
}

.content > mat-card {
    width: 200px;
}

.filters {
    margin-top: 8%;
    width: 98%;
}
.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
}
.cat-select{
    /* background-color: #ffcc00; */
    text-align: center;
    vertical-align: left;
}
.qoute-bg-img {
    width: 80%;
    height: 200px;
    margin-top: 0%;
    margin-left: 13%;
    background-image: url(../../assets/images/bgImage.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.5;

}