.jumbotron{
    position: relative;
    margin-top: 6rem;
    margin-left: 4.5%;
    margin-right: 2%;
    color: black;
    width: 90%;
    height: fit-content;
    background-color: #ffcc00;
}
.header {
    width: 100%;
}
.lead {
    text-align: center;
}
