
<div class="body" >
<div class="jumbotron jumbotron fluid">
    <div class="container">
    <h1 class="display-4" style="text-align: center">You have Registered Succesfully!</h1>
    <br>
    <p class="lead " style="text-align: center">“Reading is essential for those who seek to rise above the ordinary.” – Jim Rohn</p>
    <hr class="my-4">
    <p> 
        For the Welcome mail from BookSpot head towards your mailbox and enjoy reading and learning!
     Read as many books as you want  of your favourite category and genre on BookSpot! Enhance your vocubulary and making reading a part of your life.
     Pick a book of your choice and enjoy reading!
    </p>
   </div>
  </div>
</div>
